/* text-area 배경생 */
.text-area {
    -fx-background-color: gold;
}

/* scroll-pane 배경색 */
.text-area .scroll-pane {
    -fx-background-color: gold;
}

/* viewport 배경색 */
.text-area .scroll-pane .viewport {
    -fx-background-color: gold;
}

/* content 배경색 */
.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}